<div id="read-box">

  <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>

  <div id="info-bar">
  </div>

  <div id="settings">
  </div>

  <div id="showMessages">
  </div>

  <div id="messageForm">
  </div>
</div>
