<h1><%= @user.name %></h1>

<%= link_to "Channels", '#', :onclick => 'showChannelForm(event);' %><br>
<%# <a href="#" onclick="showChannelForm" id="channelForm">Add a channel</a> %>

<div id="channelForm"></div>

<ul id="channels">
  <% @user.rooms.each do |room| %>
    <%= link_to room.name, room_path(room) %><hr><br>
  <% end %>
</ul><hr>

<%= link_to "Direct Message", search_path %><hr><br>

<div id="dmForm"></div>
