<% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>

<%= content_tag :div, class: 'accessForm' do  %>
  <h1 class="accessTitle">Signup</h1>

  <%= form_for @user, :url => { :action => "create"} do |form| %>
    <%= render partial: 'access_form', local: { f: form } %>
  <% end %><br>
<% end %>