<div id="search-page">
  <span class="home-link"><%= link_to 'Home', home_path %></span><br>

  <%= text_field_tag :search, nil, placeholder: 'search...', onkeyup: 'filterUsers();' %>

  <ul id="usersList">
    <% if !@users.nil? %>
      <% @users.each do |u| %>
        <li><%= link_to u.name, rooms_path(user_name: u.name), method: :post %></li>
      <% end %>
    <% else !@channels.nil? %>
      <% @channels.compact.each do |ch| %>
        <li><%= link_to ch.name, rooms_path(channel_name: ch.name), method: :post  %></li>
      <% end %> 
    <% end %>
  </ul> 

</div>

  
