<%= text_field_tag :search, nil, placeholder: 'search...', onkeyup: 'filterUsers();' %>

<ul id="usersList">
  <% User.all.each do |u| %>
    <li><a href="#"><%= u.name %></a></li>
  <% end %>
</ul> 
  
