<%= link_to 'Home', users_path %><br>

<%= text_field_tag :search, nil, placeholder: 'search...', onkeyup: 'filterUsers();' %>

<ul id="usersList">
  <% User.all.each do |u| %>
    <li><%= link_to u.name, rooms_path(user_name: u.name), method: :post %></li>
  <% end %>
</ul> 
  
