<h1><%= @user.name %></h1>

<%= link_to "Add a Channel", rooms_path %><br>
<%= link_to "Direct Message", rooms_path %><hr><br>

<% @user.rooms.each do |room| %>
    <%= link_to room.name, user_room_path(room) %><hr><br>
<% end %>