
#nav-bar {
  overflow: hidden;
  background: green;
  width: 200px;
  float: left;
  //new 
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
}

#read-box {
  //position: fixed;
  //overflow-y: scroll;
  //margin-left: 210px;
  //width: 90%;
  // top: 10px;
  // bottom: 80px;
  // height: 70vh;
}

#showMessages, #settings {
  position: fixed;
  overflow-y: scroll;
  margin-left: 210px;
  width: 90%;
  top: 10px;
  bottom: 30px;
  height: 75vh;
}

.message {
  display: block;
}

#form {
  bottom: 5%;
  position: fixed;
  padding: 15px 10px 0 10px;
}

#form input[type=text] {
  padding: 20px;
  width: 800px;
  font-size: 2rem;
  margin-left: 210px;
}