#info-bar {
  top: 0;
  height: 80px;
  margin-left: 210px;
  background-color: white;
}

#username {
  color: black;
  font-family: 'Work Sans', sans-serif;
  text-align: center;

}

#nav-links {
  text-align: center;
  margin-bottom: 10px;
}

#nav-links a {
  text-decoration: none;
  font-family: "IMB plex sans", sans-serif;
  color: #8aa3b8;
}

.nav-links {
  text-decoration: none;
  font-family: "IMB plex sans", sans-serif;
  font-size: 1.25rem;
  padding: 7px;
  color: #81717a;
}

#nav-bar {
  overflow: hidden;
  background: #edeef0;
  width: 200px;
  float: left;
  //new 
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
}

#read-box {
  //position: fixed;
  //overflow-y: scroll;
  //margin-left: 210px;
  //width: 90%;
  // top: 80px;
  // bottom: 80px;
  // height: 70vh;
}

#channels li,
#contacts li {
  list-style-type: none;
}

#channels a, 
#contacts a {
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  color: #b98389;
}

#showMessages, #settings {
  position: fixed;
  overflow-y: scroll;
  margin-left: 210px;
  width: 90%;
  top: 80px;
  bottom: 30px;
  height: 75vh;
}

.message {
  display: block;
  font-family: "IMB plex sans", sans-serif;
  border-bottom: 0.5px solid #b98389;
  padding: 10px;
}

#form {
  bottom: 5%;
  position: fixed;
  padding: 15px 10px 0 10px;
}

#form input[type=text] {
  padding: 20px;
  width: 800px;
  font-size: 2rem;
  margin-left: 210px;
}